<table class="table">
    
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
<td><% users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= user.name %></td>
  <% end %>
  </tr>
<% end %>
</table>
